.tras-bambalinas {
  position: relative;
  color: white;
  padding: 5rem 2rem;
  text-align: center;
  background: radial-gradient(circle, #141414 0%, #0c0707 20%, #000000 100%);
  overflow: hidden;
}

/* TRAS BAMBALINAS - CAPA TRASERA*/
.bg-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 17vw;
  color: rgba(255, 255, 255, 0.06);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  z-index: 0;
  width: 100%;
  text-align: center;
  line-height: 1;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 1100px;
  margin: 0 auto;
}

/* Quienes somos titulo*/
.content h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

/* Ocaso titulo*/
.ocaso {
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

/* Texto quienes somos */
.intro {
  font-size: 0.9rem;
  margin-top: 2.3rem;
  margin-bottom: 3rem;
  max-width: 600px;
  margin-inline: auto;
  font-family: "Raleway", sans-serif;
  line-height: 1.6; /* Interlineado */
}

/* Tarjetas */
.tarjetas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.tarjeta {
  flex: 1 1 30%;
  background-color: transparent;
  border-radius: 12px;
  padding: 1.5rem;
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.tarjeta.activa {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

/* Tarjeta titulo*/
.tarjeta h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
}

/* Tarjeta parrafo*/
.tarjeta p {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

/* Linea del tiempo */
.timeline {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 7rem;
}

.punto {
  background: none;
  border: none;
  color: gray;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s;
  z-index: 1;
}

.punto.activo {
  color: white;
}

.punto span {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: white;
}

/* Línea horizontal detrás de los puntos */
.timeline::before {
  content: "";
  position: absolute;
  top: 94%;
  left: 50;
  height: 2px;
  width: 50%;
  background-color: gray;
  z-index: 0;
  transform: translateY(-50%);
}

/* Flechas de linea del tiempo */
.timeline-navegacion {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 4rem;
}

.flecha {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.flecha:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.flecha:hover:not(:disabled) {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .tras-bambalinas {
    padding: 3rem 1rem;
  }

  .bg-text {
    font-size: 35vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
    text-align: center;
    line-height: 1;
  }

  .tarjetas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    overflow: hidden;
  }

  .tarjeta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.5s ease;
  }

  .tarjeta.activa {
    opacity: 1;
    transform: translateX(0);
    position: relative;
    background-color: transparent;
  }

  /* Linea del tiempo */
  .timeline {
    position: relative;
    width: 300px;
    height: 3px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .timeline::before {
    content: none;
  }

  .punto {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 50%;
    border: none;
    font-size: 0;
    padding: 0;
    cursor: default;
  }

  .punto.activo {
    background-color: white;
  }

  .punto span {
    display: none;
  }

  .timeline-navegacion {
    display: flex;
    align-items: end;
    gap: 1rem;
  }
}
